https://archive.ics.uci.edu/ml/datasets/Ozone+Level+Detection

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from keras.layers import *
from keras.models import *
from keras.utils import *
from sklearn.preprocessing import *

Using TensorFlow backend.

In [4]:
label = ['feat_{}'.format(i) for i in range(73)]
df = pd.read_csv('eighthr.data', names=label)
df

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_63,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71,feat_72
1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,?,?,?,?,?,?,?,?,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800,-25.6,21.8,10295,65,0,0.0
12/28/2004,1,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845,-19.4,19.1,10310,15,0,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.8,-0.64,5845,-9.6,35.2,10275,-35,0,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1,1.9,2,...,0.25,7.72,-0.89,5845,-19.6,34.2,10245,-30,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3,...,0.54,13.07,9.15,5820,1.95,39.35,10220,-25,0,0.0

In [5]:
df.dtypes # 숫자이어야 하는데 object(string) -> 숫자 변환해야 함

feat_0      object
feat_1      object
feat_2      object
feat_3      object
feat_4      object
            ...
feat_68     object
feat_69     object
feat_70     object
feat_71     object
feat_72    float64
Length: 73, dtype: object

In [10]:
df = df.apply(pd.to_numeric, errors='coerce') # 숫자를 NaN으로 (오류일 경우)
df

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_63,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71,feat_72
1/1/1998,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08,0.0
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00,0.0
12/28/2004,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00,0.0

In [11]:
df.dtypes # 숫자이어야 하는데 object(string) -> 숫자 변환해야 함

feat_0     float64
feat_1     float64
feat_2     float64
feat_3     float64
feat_4     float64
            ...
feat_68    float64
feat_69    float64
feat_70    float64
feat_71    float64
feat_72    float64
Length: 73, dtype: object

In [12]:
# NaN 제거해야 함 
df.dropna(inplace=True) # 바로 적용

In [13]:
df

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_63,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71,feat_72
1/1/1998,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08,0.0
1/7/1998,3.7,3.2,3.8,5.1,6.0,7.0,6.3,6.4,6.3,5.4,...,0.84,6.86,25.60,5695.0,26.75,48.45,10040.0,-80.0,0.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00,0.0
12/28/2004,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00,0.0

In [14]:
df.describe()

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_63,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71,feat_72
count,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,...,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000
mean,1.629020,1.570384,1.536979,1.520087,1.515268,1.533676,1.632431,2.037899,2.525772,2.843151,...,0.300087,9.821191,0.647201,5822.425555,10.680401,37.689334,10165.476448,-0.836492,0.358787,0.069302
std,1.253261,1.243717,1.218822,1.194880,1.187541,1.158722,1.137623,1.154328,1.172360,1.208258,...,0.244579,9.342806,7.352023,75.711087,20.170554,11.007448,52.056467,34.134815,1.262573,0.254035
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.100000,...,0.010000,-14.920000,-25.990000,5480.000000,-56.700000,-10.100000,9995.000000,-135.000000,0.000000,0.000000
25%,0.600000,0.600000,0.600000,0.600000,0.600000,0.700000,0.800000,1.200000,1.700000,2.000000,...,0.090000,2.705000,-3.990000,5775.000000,-2.750000,33.050000,10130.000000,-20.000000,0.000000,0.000000
50%,1.300000,1.300000,1.200000,1.300000,1.300000,1.300000,1.400000,1.900000,2.400000,2.800000,...,0.220000,9.220000,0.260000,5835.000000,14.700000,41.350000,10160.000000,0.000000,0.000000,0.000000
75%,2.400000,2.300000,2.200000,2.200000,2.200000,2.100000,2.200000,2.800000,3.300000,3.600000,...,0.470000,16.505000,4.645000,5880.000000,27.825000,45.150000,10195.000000,15.000000,0.050000,0.000000
max,6.900000,6.900000,7.100000,6.700000,7.200000,7.400000,7.200000,7.500000,9.200000,8.300000,...,1.000000,41.360000,30.420000,5965.000000,42.050000,59.150000,10350.000000,140.000000,20.650000,1.000000

In [15]:
# 마지막 label이 정답 (feat_72)

In [16]:
Y = df['feat_72']

In [17]:
Y

1/1/1998      0.0
1/2/1998      0.0
1/3/1998      0.0
1/4/1998      0.0
1/7/1998      0.0
             ...
12/27/2004    0.0
12/28/2004    0.0
12/29/2004    0.0
12/30/2004    0.0
12/31/2004    0.0
Name: feat_72, Length: 1847, dtype: float64

In [18]:
Y = to_categorical(Y)

In [19]:
Y

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [20]:
df.drop(["feat_72"], axis=1, inplace=True)

In [21]:
df

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_62,feat_63,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71
1/1/1998,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,-15.5,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,-14.5,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,-15.9,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,-16.8,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08
1/7/1998,3.7,3.2,3.8,5.1,6.0,7.0,6.3,6.4,6.3,5.4,...,-11.8,0.84,6.86,25.60,5695.0,26.75,48.45,10040.0,-80.0,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,-12.4,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00
12/28/2004,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,-12.0,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,-11.8,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,-10.8,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,-11.9,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00

In [29]:
X_train = np.asarray(df[:-100].values.tolist(), dtype=np.float64)
X_test = np.asarray(df[-100:].values.tolist(), dtype=np.float64)

Y_train = Y[:-100]
Y_test = Y[-100:]

In [30]:
X_train.shape

(1747, 72)

In [31]:
# (sample, timestamp, feature) 
X_train = X_train.reshape(-1, 10, 72) # 10개로 딱 떨어지지 않기 때문에, 10개로 나울수 있도록 데이터를 자름

ValueError: cannot reshape array of size 125784 into shape (10,72)

In [32]:
X_train = X_train[:1700]
Y_train= Y_train[:1700]

In [35]:
X_train = X_train.reshape(-1, 10, 72)

In [36]:
Y_train = Y_train.reshape(-1, 10, 2)

In [37]:
X_train.shape

(170, 10, 72)

In [38]:
Y_train.shape

(170, 10, 2)

## Create model

In [42]:
model = Sequential()
model.add(LSTM(128, input_shape=(10, 72), return_sequences=True))
model.add(LSTM(256, return_sequences=True))
model.add(Dense(2, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, 10, 128)           102912
_________________________________________________________________
lstm_5 (LSTM)                (None, 10, 256)           394240
_________________________________________________________________
dense_2 (Dense)              (None, 10, 2)             514
=================================================================
Total params: 497,666
Trainable params: 497,666
Non-trainable params: 0
_________________________________________________________________

In [43]:
model.fit(X_train, Y_train, epochs=10, batch_size=1, validation_split=0.1)

Train on 153 samples, validate on 17 samples
Epoch 1/10
153/153 [==============================] - 14s 94ms/step - loss: 0.3174 - accuracy: 0.9170 - val_loss: 0.0681 - val_accuracy: 1.0000
Epoch 2/10
153/153 [==============================] - 9s 56ms/step - loss: 0.2875 - accuracy: 0.9196 - val_loss: 0.0902 - val_accuracy: 1.0000
Epoch 3/10
153/153 [==============================] - 9s 60ms/step - loss: 0.2879 - accuracy: 0.9196 - val_loss: 0.0524 - val_accuracy: 1.0000
Epoch 4/10
153/153 [==============================] - 9s 62ms/step - loss: 0.2840 - accuracy: 0.9196 - val_loss: 0.0815 - val_accuracy: 1.0000
Epoch 5/10
153/153 [==============================] - 10s 64ms/step - loss: 0.2830 - accuracy: 0.9196 - val_loss: 0.0790 - val_accuracy: 1.0000
Epoch 6/10
153/153 [==============================] - 10s 64ms/step - loss: 0.2834 - accuracy: 0.9196 - val_loss: 0.0953 - val_accuracy: 1.0000
Epoch 7/10
153/153 [==============================] - 10s 64ms/step - loss: 0.2825 - accuracy: 0.9196 - val_loss: 0.0886 - val_accuracy: 1.0000
Epoch 8/10
153/153 [==============================] - 10s 63ms/step - loss: 0.2868 - accuracy: 0.9196 - val_loss: 0.1066 - val_accuracy: 1.0000
Epoch 9/10
153/153 [==============================] - 10s 66ms/step - loss: 0.2827 - accuracy: 0.9196 - val_loss: 0.0827 - val_accuracy: 1.0000
Epoch 10/10
153/153 [==============================] - 10s 64ms/step - loss: 0.2860 - accuracy: 0.9196 - val_loss: 0.0925 - val_accuracy: 1.0000

In [46]:
score = model.evaluate(X_test, Y_test)
print(score)

ValueError: Error when checking input: expected lstm_4_input to have 3 dimensions, but got array with shape (100, 72)

In [48]:
Y_test.shape

(100, 2)

In [49]:
X_test.shape

(100, 72)

In [50]:
Y_test = Y_test.reshape(-1, 10, 2)
X_test = X_test.reshape(-1, 10, 72)

In [51]:
score = model.evaluate(X_test, Y_test)
print(score) # 98% 정확도

10/10 [==============================] - 0s 2ms/step
[0.13848698139190674, 0.9800000190734863]